.organize {
  position: relative; /* Position and Layout */
  z-index: 0;
  top: 0;
  flex: 0 1 200px;
  float: left;
  clear: left;

  display: flex; /* Display and Visibility */
  opacity: 1;
  transform: none;

  overflow: none;

  margin: 0; /* Box Model (from outside in) */
  box-shadow: none;
  border: none;
  border-radius: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;

  background-color: red;
  cursor: pointer;

  font-size: 2px; /* Typography */
  line-height: 2px;
  font-family: Arial;
  font-weight: 400;
  font-style: inherit;
  text-align: center;
  color: white;
}

/* //MARK: Variables */

html {
  --size--large-photo: calc(12.5055vw + 92.5825px); /* 38.313vw à 320px */
  --size--medium-photo:  113.557px; /* 35.49vw à 320px */
  --size--little-photo: 84px; /* 25.94vw à 320px */
  --size--shadow-large-photo: calc(13.2143vw + 105.314px); /* 48.313vw à 320px, 147.6px */
  --size--shadow-medium-photo: 129px; /* 40.313 à 320px */
  --size--shadow-little-photo: 93.4333px; /* 154.6 à 320px */
  --size--wrapper-large-photo: 41.44vw; /* 41.44vw */
  --cos-11: 0.98162718344; /* Pour les calculs en rapport avec l'inclinaison des photos */
  --sin-11: 0.19080899537; /* Pour les calculs en rapport avec l'inclinaison des photos */
}

/* //MARK: Reset */

/* 1. Correct the line height in all browsers. (for consistency in all browser more than the value) */

html, button, input {
  line-height: 1.15; /* 1 */
}

/* * Render the `main` element consistently in IE. */

main { 
  display: block;
}

/*  */

section {
  width: 100%;
  box-sizing: border-box;
}

/* Remove the margin in all browsers. */

body {
  margin: 0;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 */

 a {
  background-color: transparent; /* 1 */
  color: inherit;
  cursor: pointer;
}

/**
 * Remove the border on images inside links in IE 10.
 */

 img {
  border-style: none;
}



/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

 button,
 input { /* 1 */
   overflow: visible;
 }

 /**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

input, button, ul {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  font-size: inherit;
}

input:focus {
  outline: none;
}

h1, h2, h3,
h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

 /*  Ul for navbar */

ul {
  list-style: none;
}

/* Typography for everything */

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  font:  inherit;
}

button {
  color: inherit;
}

/* //MARK: Typography */

@font-face {
  font-family: 'Elena';
  src: url('../fonts/ElenaWebRegular-subset.woff2');
}

@font-face {
  font-family: 'Elena';
  src: url('../fonts/ElenaWebBold-subset.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Elena';
  src: url('../fonts/ElenaWebRegularItalic-subset.woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Mija'; /* x-height ratio : 0.522 */
  src: url('../fonts/Mija_Regular-webfont-subset.woff2') format("woff2"),
  url('../fonts/Mija_Regular-webfont-subset.woff') format("woff");
}

@font-face {
  font-family: 'Mija';
  src: url('../fonts/Mija_Bold-webfont-subset.woff2') format("woff2"),
  url('../fonts/Mija_Bold-webfont.woff') format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.woff2') format("woff2"),
  url('../fonts/FiraCode-Regular.woff') format("woff");
}

body {
  font-family: 'Elena', -apple-system,Arial, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: calc(0.688236607vw + 1.27764682546em); /* Permet de faire une transition progressive pour la hauteur de ligne de 1.4 à 1.5 (et avec une largeur minimium d'écran de 320px) (mot-clé: CSS Locks). */
  box-sizing: border-box;
  width: 100%;
}

/* p, .first-section__article { */
  /* width: 100%; */
/* } */

.secondary-nav__list li {
  line-height: 27.7px;
}

body {
  color:rgb(51, 51, 51)
}

code {
  font-family: 'Fira Code', monospace;
  font-size: .87rem;
  background-color:#f6f3f2;
}

/* 
* 1. Fluid line-height en rapport à la largeur d'écran (plus la ligne est longue, moins l'effort pour aller à la ligne est facile
* 2. Fluid font-size parce qu'on peut, pour plus de confort. (éventuellement un interet aussi si le lecteur est plus loin du texte).
*/

@media (min-width: 32.5625rem) { /* min-width: 521px */
  /* p, .first-section__articles { */
    /* width: 469px; */
  /* } */
  /* .first-section__articles { */
    /* margin: 0 auto; */
  /* } */
}

@media (min-width: 48rem) { /* min-width: 768px; */
  html {
    font-size: calc(1.025rem + .32vw); /* Permets de faire une transition progressive pour la font-size, qui change en fonction de la taille de l'écran (mot-clé: CSS Locks). */
  }

  p {
    line-height: 1.5em;
    /* width: calc(28.6959017035em + 16.2126627186px); Permets de maintenir une line length d'environ 66 à 68 charactères pour toute taille de font-size */
    /* width: calc(26em + 1px);  Permets de maintenir une line length d'environ 66 à 68 charactères pour toute taille de font-size */
    /* width: 100%; */
  }

  .first-section__articles {
    width: min-content;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p { 
  margin: 0 auto;
}

.ff--Mija {
  font-family: 'Mija', Arial, sans-serif; /* Arial because it is also grotesque */
}

.ff--Elena {
  font-family: 'Elena', 'Times New Roman', serif; /* Times New Roman parce que c'est aussi serif et modern */
}

.light-grey {
  color: #767676;
  font-size: 1rem;
}

.small {
  font-size: .8rem;
}

html {
  --dark-red: #d33a2c;
}

.bg--dark-red {
  background-color: var(--dark-red);
}

.color--grey {
  color: #666;
}

.color--dark-red {
  color: var(--dark-red);
}

.style--bold {
  font-weight: 700;
}

.color--white {
  color: white;
}

.color--blue {
  color: #006fc6;
}

.color--green {
  color: #18a46f;
}

.color--orange {
  color: #f55700;
}

.color--violet {
  color: #aa1994;
}

.color-hover--dark-red:hover {
  color: var(--dark-red);
}

/* //MARK: Images */

.img--cat-paw {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.img--cat-paw__first-article {
  margin-bottom: 6px;
  margin-left: -5px;
  border-bottom: 1px solid var(--dark-red);  
}

.img--cat-paw__promo-box--community {
  margin-left: 4px;
}

/* //MARK: Layout */

.second-section {
  margin: 60px auto;
  width: 90%;
}

/* //MARK: Header */

.header {
  margin-bottom: 10px;
}

.first-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 14.4px;
  padding-top: 4.4px;

  background-color: var(--dark-red);
  /*font-size: 23.5px;*/
}

/* media query (min-width; 740px) for headermoved with .subnav-list */

.main-nav__menu-btn--hidden, .secondary-nav {
  display: none;
}

.div-logo {
  flex-grow: 2.7692; /* Coef : 1.3846 * flex-grow de main-nav-buttons */
  max-width: 81.9px;
}

@media (min-width: 90.6875rem) { /* 1451px */
  .div-logo {
    flex-grow: 2.7692; /* Coef : 1.3846 * flex-grow de main-nav-buttons */
    max-width: 224.9337px;
  }
}

.logo {
  position: relative;
  top: 14px;


  height: 3.4em;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-buttons {
  max-width: 160px;
}

.main-nav__menu-btn {
  margin-right: 6px;
  border: 1px solid #a02c21;
  border-radius: 11px;
  height: 47px;
  padding: 7.5px 8px 7.5px 16px;

  background-color: #a92e23;
}

.main-nav__menu-btn:hover {
  background-color: #94291f;
}

.main-nav__menu-btn--hidden {
  display: none;
}

.word-more {
  display: none;
}

.main-nav__menu-btn--image {
  vertical-align: middle;
}

.main-nav__menu-btn__image--cat {
  margin-left: 4.850px;
  width: 30px;
  height: 30px;
}

.main-nav__menu-btn__image--cat-dancing {
  margin-left: 1.283px;
  width: 45px;
  height: 30px;
}

.main-nav__menu-btn__image--close {
  margin-left: 4.850px;
  width: 15px;
  height: 15px;
}

.search-bar {
  margin-top: 8px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 289px;
}

.search-bar_input {
  background-image: url(../media/magnify.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: .75em center;

  box-sizing: border-box;
  border-radius: 11px;
  padding: 16px 15px 16px calc(22px + .75em + .75em);

  color: #515151;
}

.search-bar_input:focus {
  border: 3px dotted #811d15;
  padding: 13px 12px 13px calc(22px + .75em + .75em - 3px);
}

.secondary-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 190.8px;
  padding: 1em .2em;
}


@media (min-width: 30.0625rem) { /* min-width: 481px; */
  .first-header {
    padding-top: 14.4px;
  }

  .search-bar {
    margin-top: 0;
  }
  
  .main-nav-buttons {
    flex-grow: 2;
  }

  .secondary-nav {
    order: 1;
  }

  .main-footer__img-bird {
    display: none;
  }
}

.main-nav-item {
  padding: .35em .9rem;
}

.main-nav-item-1 {
  padding: .35em .9rem .35em 0;
}

.main-nav-item-1, .main-nav-item-2, .main-nav-item-3, .main-nav-item-4, .main-nav-item-5, .main-nav-item-6, .main-nav-item-7, .main-nav-item-8, .main-nav-item-9, .main-nav-item-10 {
  display: none;
}

.secondary-nav, .secondary-nav__list {
  width: 100%;
}

.secondary-nav__list li {
  width: max-content;
  margin: .25em .62em;
}

/* Show/Hide les main/secondary-nav-items */

@media (min-width: 42.9375rem) {
  .nav-item-1 {
    display: none;
  }

  .main-nav-item-1 {
    display: block;
  }

  .word-menu {
    display: none;
  }

  .word-more {
    display: inline;
  }
}

@media (min-width: 52.5rem) {
  .nav-item-2 {
    display: none;
  }

  .main-nav-item-2 {
    display: block;
  }
}

@media (min-width: 56.5625rem) {
  .nav-item-3 {
    display: none;
  }

  .main-nav-item-3 {
    display: block;
  }
}

@media (min-width: 70rem) {
  .nav-item-4 {
    display: none;
  }

  .main-nav-item-4 {
    display: block;
  }
}

@media (min-width: 77.8125rem) {
  .nav-item-5 {
    display: none;
  }

  .main-nav-item-5 {
    display: block;
  }
}

@media (min-width: 97.5rem) {
  .nav-item-6 {
    display: none;
  }

  .main-nav-item-6 {
    display: block;
  }
}

@media (min-width: 108.4375rem) {
  .nav-item-7 {
    display: none;
  }

  .main-nav-item-7 {
    display: block;
  }
}

@media (min-width: 120.625rem) {
  .nav-item-8 {
    display: none;
  }

  .main-nav-item-8 {
    display: block;
  }
}

@media (min-width: 136.5625rem) {
  .nav-item-9 {
    display: none;
  }

  .main-nav-item-9 {
    display: block;
  }
}

@media (min-width: 179.6875rem) {
  .nav-item-10, .main-nav__menu-btn {
    display: none;
  }

  .main-nav-item-10 {
    display: block;
  }
}

/* Toggl for menu */

.for-desktop {
  display: none;
}

/* //MARK: Tag-Navbar */

.d-block {
  display: block;
}

.d-hidden {
  display: none;
}

.search-bar--reduced {
  flex-basis: 246px;
}

/* //MARK : Sub-Navbar */

.subnav {
  /* box-shadow: 0 4px 20px 0 rgba(0,0,0,.12); Changé le Lundi 28 Juin pour */
  box-shadow: 0px 10px 10px 0 rgba(197,211,217,.86);
}

.subnav-list {
  margin-left: 5px;
  display: block;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

@media (min-width: 740px) {
  .first-header {
    padding: 16px 2em;
  }

  .subnav-list {
    margin-left: calc(6.91px + 1.11rem);
  }
}

.subnav-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.subnav-item {
  display: inline-block;
  line-height: calc(1.5em + .2vw);
  line-height: calc(0.688236607vw + 1.27764682546em);
  font-size: .85em;

  width: max-content;
  margin: .5em 0 .5em .5em;
  
  border: 1px solid #fee0e0;
  padding: .22em .9rem;

  padding: .3507em 1.06em .22em 1.06em;
  background-color: #ffe7e7;
  border-radius: 11px;
  transition:.2s border ease-in-out,.2s box-shadow ease-in-out;
}

.subnav-more-item {
  background-color: white;
  border: 1px solid #ddd;
}

.subnav-item:hover {
  border: 1px solid #faa4a4;
}

.subnav-item:active {
  background-color: var(--dark-red);
  color: white;
  box-shadow:inset 0 1px 3px 0 rgba(0,0,0,.12);
  outline:3px dotted #811d15;
}

/* //MARK: Author-Post */

.first-section__articles {
  margin: 80px auto;
  width: 85%;
}

.first-section__article {
  /* margin-bottom: 40px; taille du lundi 21 juin*/
  margin-bottom: 25px;
  /* width: 94.44% Retiré parce que la largeur des articles (ici articles 2 et 3) doit etre à 100% (Dimanche 27 Juin) */
}

.first-section__first-article {
  margin-bottom: 77px;
}

.author-post__header {
  display: flex;
  flex-wrap: wrap;
  font-size: .9rem;
}

.img-wrapper {
  position: relative;
  display: inline-block;
  /* max-width: 300px; */
  border-radius: 10%;
}

.img-wrapper--large {
  height: var(--size--large-photo);
  width: var(--size--large-photo);
}

.img-wrapper--35vw {
  height: var(--size--medium-photo);
  width: var(--size--medium-photo);
}

.img-wrapper--75px {
  height: var(--size--little-photo);
  width: initial;
}

.img-wrapper:active {
  outline: 4px dotted #811d15;
  padding: 1px;
  margin: -1px;
}

.author-post__img {
  /* margin-bottom: 1.25rem; */
  border: 3px solid var(--dark-red);
  border-radius: 10%;
  width: var(--size--medium-photo);
  height: var(--size--medium-photo);
  box-sizing: border-box;
  transform: rotateZ(-11deg);
  transition: transform .3s ease-out, margin .3s ease-out;
  transform-origin: bottom left;
}

.author-post__first-article__img {
  margin-left: 21px;
}

.author-post__img {
  margin-left: 16px;
}

.article-posts__img {
  margin-left: 12px;
}

.author-post__img:hover {
  transform: rotateZ(0deg);
  margin-left: 0px;
  transition: transform .3s ease-out, margin .3s ease-out;
}

.author-post__img--border-4 {
  border: 4px solid var(--dark-red);
}

.author-post__first-article__img {
  border: 5px solid var(--dark-red);
  width: var(--size--large-photo);
  height: var(--size--large-photo);
  box-sizing: border-box;
}

.author-post__img__shadow {
  display: inline-block;
  height: 0px;
}

.author-post__img__shadow:after {
  content: " ";
  width: var(--size--shadow-large-photo);
  border-radius: 100%;
  height: 10px;
  background: radial-gradient(black, white);
  opacity: 1;
  -webkit-filter: blur(4px);
  transform: scale(1, .4);

  position: absolute;
  left: -2px;
  bottom: -6px;

  transition: height .2s ease-out, width .4s ease-out;
}

.author-post__img__shadow:hover:after {
  height: 0px;
  width: 0px;
  transition: height .2s ease-out, width .4s ease-out;
}

.author-post__img__shadow--40vw:after {
  width: var(--size--shadow-medium-photo);
  left: -2px;
  bottom: -7px;
}

.author-post__img__shadow--29vw:after {
  width: var(--size--shadow-little-photo);
  left: 0px;
  bottom: -8px;
}

.first-author-post__header__text {
  /* display: inline-block; Pas besoin avec flex, le block ira pas à la ligne */
  margin-top: -25px;
  margin: calc(1.787vw + 9.2857px)  0;
}

.person-of-the-week__text {
  width: 100%;
  margin: calc(1.787vw + 9.2857px)  0;
}

.author-post__other-article__header__text {
  margin: 12px 0;
  /* flex-basis: 400.75px; */
  flex-grow: 1;
}

.author-post__continue-reading {
  line-height: calc(4.85118vw + 42.8929px);
}

.author-post__title {
  /* font-size: calc(4.54334rem - 51.63012px); */
  /* margin: 15px 0; pour 2000px je suppose*/
  margin: 7px 0;
}

.first-author-post__title {
  font-size: calc(1.2996vw + 25.9913px);
}

.author-post__title__other-articles {
  font-size: calc(1.13095238095vw + 17.380952381px);
}

.author-post__time {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.link-decoration--none {
  text-decoration: none;
}



/* @media (min-width: 650px) {
  .first-section__articles {
    margin-top: 35px;
  }

  .first-author-post__header__text {
    margin-left: 45px;
    flex-basis: 336px;
    flex-grow: 1;
  }

  .first-author-post__title {
    margin: 24px 0;
  }

  .author-post__header__first-part {
    margin-bottom: 25px;
  }

  

  .first-author-post__header {
    height: calc(var(--size--large-photo) + 45px);
  }

} */



/* //MARK: Cards */

.card {
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.promo-box__input-wrapper, .btn--card {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 10px;
  width: 100%;

  font-size: 1.1em;
}

.promo-box__input-wrapper {
  background-color: white;
}

.btn--card {
  max-width: 300px;
  color: white;
  font-weight: 700;
  padding: 16.5px 28px;
}

.promo-box__email:active, .btn--card:active {
  box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

/* //MARK: Promo-box */

.promo-box {
  margin: 180px auto;
  margin-bottom: 0;
  width: 90%;
  padding-bottom: 30px;
}

.promo-box__img {
  display: inline-block;
  /* margin-top: -98px; */
  margin-top: -118px;
  width: 250px;
  display: initial;
}

.promo-box__body {
  padding: 0 28px;
}

.promo-box__email {
  display: inline-block;

  font-size: 21px;
  font-weight: 700;

  margin: 19px 0;
  border-radius: 10px;
  padding: 12px 15px;

  background-color: white;

  transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.promo-box__email:active {
  background-color: var(--dark-red);
  color: white;
}

.promo-box__title {
  margin: 10px 0;
  margin-top: 15px;
}

.promo-box__form, .promo-box-btn {
  margin: 20px auto 25px;
}

.promo-box-btn {
  display: block;
}

.promo-box__form {
  max-width: 350px;
}

/* TODO: btn--card--books */

.promo-box__input-wrapper {
  padding: 16px 20px;
  margin-bottom: 18px;
  box-shadow: 6px 8px 3px 1px rgba(197,211,217,.86);
  transition: box-shadow .2s linear;
}

.js-box-shadow--black {
  box-shadow: 4px 6px 3px 1px rgba(0, 0, 0, .9);
  transition: box-shadow .2s linear;
}

.promo-box__input::placeholder {
  color: #777;
  font-style: italic;
}

.promo-box__footer {
  display: inline-block;
  font-size: 13px;
}

/* //MARK: ... Promo-box--newsletter  */

.promo-box--newsletter {
  background-color: #e7f8ff;
}

.promo-box--newsletter__button {
  max-width: 100%;
  background-color: #0168b8;
}

/* FAIRETODO: tester la box-shadow dans l'autre sens */
/* FAITTODO: Cherche le gris le plus assorti avec le bleu du container */




/* //MARK: Smashings Guide Cards */

.card-guide {
  padding: 30px;
  padding-top: 20px;
  margin-bottom: 52px;
  box-shadow: 0 0 20px 0px #dedede; /* rgba(0, 0, 0, .13) */
}

.card-guide__subtitle {
  padding-left: 2px;

  text-transform: uppercase;
  font-size: .42rem;
  letter-spacing: 2px;
  word-spacing: .1em;
}

.card-guide__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 1.2rem;
  text-decoration: underline;
}

.card-guide__header, .card-guide__text {
  text-align: start;
}

.card-guide__button {
  margin-top: 25px;
  max-width: max-content;
  text-align: center;
  color: white;
}

.card-guide--green {
  background-color: #f1fdf8;
}

.card-guide__button--green {
  background-color: #18a46f;
}

.card-guide--orange {
  background-color: #fef1f0;
}

.card-guide__button--orange {
  background-color: #f55700;
}

.card-guide--violet {
  background-color: #fbecf9;
}

.card-guide__button--violet {
  background-color: #aa1994;
}

.see-more {
  width: max-content;
  padding: 0 15px;
  padding-bottom: 5px;

  font-size: .8rem;
  border-bottom: 5px solid var(--dark-red);
}

/* //MARK: Latest Posts */

.articles-section {
  margin: 90px auto;
  width: 85%;
}

.article-posts-item {
  margin-bottom: 70px;
}

.article-posts__title {
  margin-bottom: 41px;
  font-size: .7rem;
  letter-spacing: .2em;
  word-spacing: .3em;
  font-weight: 700;  
}

.article-posts__img {
  box-sizing: border-box;
  width: var(--size--little-photo);
  height: var(--size--little-photo);
  border-width: 4px;
}

.article-posts__author-title-wrote {
  display: inline-block;
  box-sizing: border-box;
  /* max-width: 175px; */
  /* max-width: calc(100% - 23.15vw - 12px); */
  /* width: calc(100% - ((var(--cos-11) + var(--sin-11)) * (var(--size--little-photo)))); */
  width: calc(100% - (var(--size--little-photo) + 12px) * var(--cos-11) - 3px); /* Les 3px c'est une imprécision à cause due certainement au transform-origin */
  padding-top: 10px;
  padding-left: 15px;
  vertical-align: top;
}

.article-posts__posts-title {
  margin-top: 15px;
  margin-bottom: 18px;
  font-size: 21px;
}

.article-posts__meta {
  margin-top: 15px;
  font-size: .9rem;
}

.article-posts__author-img {
  width: .8em;
}

/* //MARK: ... Promo-box--community */

.promo-box--community, .promo-box--books {
  background-color: #f1fdf8;
}

.promo-box--community__button {
  background-color: #18a46f;
}



/* TODO: Voir si je peux faire le bleu du bas rond soit confondu avec le bleu du container  */


/* //MARK: Family Grid Section */

.family-grid-section {
  margin-bottom: 60px; /*Gros bloc de couleur puis gros bloc de couleur, donc pas besoin d'autant d'espace entre les deux */
}

.family-grid-section__header {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.family-grid-section__h2 {
  margin: 0 0 10px 0;
}

.promo-box--family__title {
  margin-top: 35px;
}

.promo-box--books {
  padding-bottom: 87px;
}

.promo-box--workshops {
  background-color: #e7f8ff;
  padding-bottom: 56px;
}

.promo-box--jobs {
  padding-bottom: 79px;
  background-color: #ffe5e2;
}

.promo-box--membership {
  padding-bottom: 42px;
  background-color: #e3f7e5;
}

.promo-box--newsletter-family {
  padding-bottom: 67px;
  background-color: #fdffe5;
}

.btn--card--books {
  padding-bottom: 16.5px 33px;
}

.btn--card--workshops {
  background-color: #006fc6;
}

.btn--card--jobs {
  background-color: #e62143;
}

.btn--card--membership {
  background-color: #41b14f;
}

.btn--card--newsletter-family {
  background-color: #ff6411;
}

.family-grid-carousel {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  border-right: 10px solid;
  border-image: linear-gradient(white, white, #c5f6e2, #c5f6e2, #b6e9ff, #b6e9ff, #b6e9ff, #ffb9b1, #ffb9b1, #beecc2, #beecc2, #f9feb4, #f9feb4, white) 1;
}

.card {
  white-space: initial;
}

.promo-box--family {
  display: inline-block;
  vertical-align: top;
  width: 95%;
  height: 530.683px;
  height: calc(588.885px - 18.1883vw);
  margin-left: 1%;
  margin-right: 4%;
}

@media (min-width: 850px) {
  .promo-box--family {
    height: calc(588.885px - 18.1883vw); /* Diviser par 2 pour avoir 2 promo-box pour une largeur d'écran ? */
  }
}

/* //MARK: Conf Panel */

.conf-panel {
  text-align: center;
  padding-top: 40px;
}

.conf-panel--bg-dark-blue {
  background-image: linear-gradient(#1b71bb 45%,#4399d9 100%);;
}

.conf-panel__subtitle {
  font-weight: 700;
  letter-spacing: .05rem;
  font-size: .6rem;
}

.conf-panel__title {
  margin: 5px 0 22px 0;
}

.conf-panel__title-text {
  font-size: calc(4.54334rem - 51.63012px);
  font-size: calc(1.77936vw + 24.456px);
  border-bottom: 4px solid #4399d9;
  line-height: 1.25;
}

.conf-panel__text {
  font-size: 1.1rem;
}

.btn--conf-panel {
  cursor: pointer;
  margin: 40px 0;
  max-width: 400px;
  background-color: white;
  color: #277ecc;
}

.btn--conf-panel:active {
  box-shadow: inset 0px 3px 3px 0px rgba(0,0,0, 0.4);
}

.conf-panel__img {
  display: block;
}

/* //MARK: Community Links Section */

.community-links__title {
  margin-bottom: 50px;
}

.person-of-the-week__title {
  margin-bottom: 5px;
  font-size: .9rem;
  letter-spacing: .12rem;
}

/* //MARK: Main Footer */

.main-footer {
  background-color: var(--dark-red);
}

.main-footer__container {
  position: relative;
  padding-top: 50px;
}

.main-footer__title {
  font-size: .8rem;
  margin-bottom: 25px;
}

.main-footer__list {
  list-style: circle;
}

.main-footer__list-item {
  display: inline-block;
  width: 50%;
  font-size: .8rem;
  margin: 2px 0;
  line-height: 1.7em;
}

.main-footer__list-item::before {
  content: '•';
  margin-right: .5em;
  color: #541712;
}

.main-footer__credit-and-nav {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.main-footer__text {
  font-size: .8rem;
}

.main-footer__nav {
  margin-top: 20px;
  font-size: .8rem;
}

.main-footer__nav-item {
  display: inline-block;
  margin: 8px 6px;
}

.main-footer__links:hover {
  color: #541712;
  transition: color .1s ease-out;
}

/* //MARK: Utilities */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.container-w85 {
  margin: 0 auto;
  width: 85%;
}

.main-footer__img-cat {
  /* width: 64%; L'image ne doit pas grandir quand l'écran s'élargit, mais elle doit garder la taille qu'elle a en 320px */
  width: 174.067px;
  margin-left: -12px;
  margin-top: 9px;
}

.main-footer__img-bird {
  /* width: 60%;L'image ne doit pas grandir quand l'écran s'élargit, mais elle doit garder la taille qu'elle a en 320px */

  width: 163.2px;
  position: absolute;
  right: -13px;
  bottom: 4px;
}


/*  Work in Progress */

a:not(h2 a):not(.subnav-item a):not(.promo-box__email):not(.btn--card):not(.author-post__img__shadow):active, h2:not(.promo-box__title):not(.family-grid-section__h2):not(.main-footer__title):active {
  outline: 3px dotted #811d15;
}

.author-post__title:active {
  margin: 6px -6px;
  padding: 4px 6px;
}

.author-post__continue-reading:active {
  padding: 0 .4em;
  margin: 0 -.4em;
}

.card-guide__title:active {
  margin: 0 -6px 30px -6px;
  padding: 0 6px;
}

.article-posts__posts-title:active {
  margin: 11px -6px 14px -6px;
}

.conf-panel__title:active, .btn--conf-panel:active {
  outline-color: #3D0706;
}

.conf-panel__title:active {
  margin: 3px 0 16px 0;
  padding: 2px 0 6px 0;
}


/* //MARK: Media Queries */

@media (min-width: 601px) {
  /* .first-author-post__header__text {
    margin: 20px 0;
  } */

  .author-post__continue-reading {
    line-height: 4;
  }

  .articles-section {
    --mt-author-title-wrote: -20px;
    --mt-posts-title: calc(var(--mt-author-title-wrote) - 60px);
    --mb-posts-title: calc(var(--mt-author-title-wrote) - 14px);
  }

  .article-posts__author-title-wrote {
    padding-top: 0;
    margin-top: var(--mt-author-title-wrote);
  }

  .article-posts__posts-title {
    margin-top: var(--mt-posts-title);
  }

  .author-post__header {
    margin-bottom: var(--mb-posts-title);
  }

  .article-posts__posts-title, .article-posts__text {
    padding-left: 110px;
  }

  .article-posts__meta {
    margin-top: 5px;
    padding-left: 94px;
  }

  .author-post__img:hover {
    margin-right: 12px; /* L'img-wrapper change de taille, et ça rapproche l'author-title. */
  }

  .conf-panel__title-text {
    font-size: calc(1.06224vw + 28.7553px);
  }
}


@media (min-width: 650px) {

  /* First Section */

  .first-section__articles {
    margin-top: 100px;
  }

  /*  First Section - First Article */

  .first-author-post__header {
    margin-bottom: 40px;
  }

  .first-author-post__title {
    margin: 18px 0;
  }

  .first-author-post__header__text {
    /* margin: -26px 0 0 45px; */
    margin-top: -37px;
    padding-left: 35px;
    flex-basis: 336px;
    flex-grow: 1;
  }

  /* First Section - Others Articles */
  .author-post__other-article__header__text {
    /* margin-left: 38px; */
    /* margin-top: -14px; */
    margin-top: -10px;
    padding-left: 30px;
    flex-basis: 438.95px;
  }

  .first-section__article {
    margin-bottom: 50px;
  }
}